# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environment
.venv/

# Test & coverage
reports/
htmlcov/
.coverage
*.cover

# Playwright artifacts
test-results/
playwright-report/
*.zip
*.webm
*.mp4
*.trace.zip

# VS Code
.vscode/
